@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4A6D7C;
  --color-background-light: #F8F8F6;
  --color-background-dark: #111421;
  --color-text-light: #333333;
  --color-text-dark: #E0E0E0;
  --color-accent: #B88A76;

  --color-card-light: #ffffff;
  --color-card-dark: #1e293b;

  --color-border-light: #e2e8f0;
  --color-border-dark: #334155;

  --font-display: "Inter", sans-serif;

  --radius-lg: 10px;
  --radius-xl: 12px;

  --shadow-soft-glow: 0 0 15px 5px rgba(74, 109, 124, 0.2);
}

